<div class="b_options">
  <%= link_to '>> Novo Carro', new_admin_car_path %>  
</div>
<div class="admin_cars_box">
  <div class="titulo">
    <h2><%= @car.name %></h2>
  </div>
  <div class="cars_img_box">
    <div class="admin_cars_img"><%= image_tag @car.image_url.to_s %>
    </div>
    <div class="admin_cars_img"><p>img 2</p>
    </div>
    <div class="admin_cars_img"><p>img 3</p>
    </div>
  </div>
  <div class="admin_cars_info">
    <a>Ano: <%= @car.year%></a></br>
    <a>Modelo: <%= @car.model%></a></br>
    <a>Marca: <%= @car.brand%></a></br>
    <a>Detalhes: <%= @car.description%></a>
  </div>
</div>

<div class="b_options"><%= link_to 'Editar', edit_admin_car_path(@admin_car) %> | <%= link_to 'Voltar à lista', admin_cars_path %>
</div>
