<%= form_for @email do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being sent:</h2>
      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Nome %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Mensagem %>
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.deliver %>
  </div>
<% end %>
